*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  max-width: 900px;
  margin: 20px auto;
  padding: 0 20px;
}

.header-info{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 15px;
  margin:10px 0;
}

.header-info>p{
  background-color: aqua;
  border-radius: 5px;
  padding: 10px 20px;
}

.header-budget{
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  border-radius: 5px;
  padding: 10px 20px;
}

.header-budget>button{
  background-color: blue;
  border:none;
  border-radius: 2px;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.Search-Bar{
  width: 100%;
  height: 28px;
  font-size: 15px;
  padding-left: 5px;
}

.expense-list>input{
  margin:2px 0;
}
.expense-ele{
  margin: 10px 0;
}

.list{
  display: flex;
  justify-content: space-between;
  border-width: 1px;
  border-color: #ccc;
  border-style: solid;
  padding: 10px;
}

.list-element{
  display: flex;
  justify-content: space-between;
}

.list-element>p{
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 2px 10px;
  margin-left: 5px;
}

.new-expense{
  margin: 10px 0;
}

.new-expenseEntry{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.name{
  display: flex;
  flex-direction: column;
  gap:2px;
}

.name>input{
  height: 28px;
  width: 98%;
  font-size: 20px;
  padding-left: 5px;
}

.cost>input{
  height: 28px;
  width: 98%;
  font-size: 20px;
  padding-left: 5px;
}

.cost{
  display: flex;
  flex-direction: column;
  gap:2px;
}

.new-expense>button{
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 2px;
  margin-top: 5px;
}

.new-expense>button:disabled{
  background-color: lightblue;
}

.buttonx{
  cursor: pointer;
}

.buttonx:hover{
  background-color: red;
}

small{
  color: #aaa;
}